os:
  - linux

matrix:
  include:
    - env: "BACK=true"
      language: go
      os: linux
      dist: bionic
      before_install:
        # Install dep
        # Cause of https://github.com/golang/dep/issues/1846
        - mkdir -p $HOME/gopath/bin
        - curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
      script: "cd back && make install test"

    - env: "FRONT=true"
      language: node_js
      node_js:
        - 12
      os: linux
      dist: bionic
      script: "cd front && npm it"
